body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 92vh; /* Changed from height to min-height */
  padding: 50px 10%;
  background: linear-gradient(to bottom, #FEFFFF, #D9F7FF, #B9F1FE);
}

.home-content {
  max-width: 50%;
}

.home-content h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.home-content p {
  font-size: 1.25rem;
  color: #333;
  margin-bottom: 30px;
}

.home-image {
  max-width: 40%;
}

.home-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
    text-align: center;
    min-height: auto; /* Allow the container to adjust dynamically */
    padding: 40px 5%;
  }

  .home-content {
    max-width: 100%;
  }

  .home-image {
    max-width: 80%;
    margin-top: 20px; /* Add spacing to prevent overlap with footer */
  }

  .home-image img {
    width: 100%;
    height: auto;
  }
}
